<h1>Employees#new</h1>
<p>Find me in app/views/employees/new.html.erb</p>


<%= form_for @employee, url: {action: "create"} do |f| %>

      <%= f.label :first_name %>
      <%= f.text_field :first_name %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name %>

      <%= f.label :username %>
      <%= f.text_field :username %>

    <%= f.submit "SUBMIT" %>

<% end %>