<table id="datatable" class="table table-hover table-striped" >
  <thead>
    <tr>
      <th><h5>Name</h5></th>
      <th><h5>Email</h5></th>
      <th style="width: 30px"><h5></h5></th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |user| %>
    <tr>
      <td>
        <h4 class="text-capitalize"><%= "#{user.last_name}, #{user.first_name}" %></h4>
      </td>
      <td>
        <h4><%= user.email %></h4></td>
      <td>
        <div class="dropdown text-center">
          <button class="btn btn-default dropdown-toggle btn-block" data-toggle="dropdown" type="button">
           <h6><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Options
            <span class="caret"></span></h6>
          </button>
          <ul class="dropdown-menu">
            <li class="text-info">
              <% if can? :show_employee, user %>
              <%= link_to show_employee_path(user) do %>
              <i class='glyphicon glyphicon-briefcase text-info'></i>
              Details
              <% end %>
              <% end %>
            </li>
            <li class="text-info">
              <% if can? :edit, user %>
              <%= link_to edit_user_path(user) do %>
              <i class='glyphicon glyphicon-edit text-info'></i>
              Edit Profile
              <% end %>
              <% end %>
            </li>
            <li class="text-warning">
              <% if can? :change_password, user %>
              <%= link_to change_password_path(user) do %>
              <i class='glyphicon glyphicon-remove text-warning'></i>
              Change Password
              <% end %>
              <% end %>
            </li>
            <li class="text-danger">
              <% if can? :destroy, user %>
              <%= link_to user, method: :delete, data: {confirm: 'Are you sure?'} do %>
              <i class='glyphicon glyphicon-trash text-danger'></i>
              Delete
              <% end %>
              <% end %>
            </li>
          </ul>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
