<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<% @users.each do |user| %>

    <h3 class="text-capitalize"><%= "#{user.last_name}, #{user.first_name}" %></h3>
    <div class="pull-right">
      <% if can? :edit, user %>
        <%= link_to raw("<button class='btn btn-info btn-sm'  role='button'><i class='glyphicon glyphicon-edit'></i> Edit Profile</button>"), edit_user_path(user) %>
      <% end %>
      <% if can? :destroy, user %>
        <%= link_to raw("<button class='btn btn-danger btn-sm'  role='button'><i class='glyphicon glyphicon-remove'></i> Destroy</button>"), user, method: :delete, data: {confirm: 'Are you sure?'} %>
      <% end %>
      <% if can? :change_password, user %>
        <%= link_to raw("<button class='btn btn-danger btn-sm'  role='button'><i class='glyphicon glyphicon-remove'></i> Change Password</button>"), change_password_path(user)%>
      <% end %>
    </div>
    <p>
      Username: <%= user.username %>
    </p>
    Role:
    <p class="<%= user.role %>text">
     <%= user.role %>
    </p>
    <hr>
<% end %>
