
<%= javascript_include_tag 'users_new' ,'data-turbolinks-track' =>true %>

<%= form_for @user, url: {action: 'create'}, builder: Judge::FormBuilder do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@user.errors.count, "error") %>
    prohibited this user from being saved:</h2>

  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
  <div class="col-sm-5 col-md-8" id="panel">
    <div class="form-group">
      <%= f.label :email, class:"control-label", for:"inputEmail" %>
      <%= f.text_field :email, validate: true, class: "form-control", type: "email", required: "required", id:"inputEmail", placeholder: "sample@gmail.com, example@yahoo.com" %>
    </div>
    <div class="form-group">
      <%= f.label :password, class:"control-label", for:"inputPassword" %>
      <%= f.password_field :password, validate: true, class: "form-control", required: "required", id:"inputPassword" %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, class:"control-label", for:"inputPassword" %>
      <%= f.password_field :password_confirmation, validate: true, class: "form-control", required: "required", id:"inputPassword" %>
    </div>
    <div class="form-group">
      <%= f.label :first_name, class:"control-label", for:"inputFirstName" %>
      <%= f.text_field :first_name, validate: true, class: "form-control", type: "text", pattern: "^[A-Za-z ]+$", required: "required", id:"inputFirstName", placeholder: "First Name goes here..."  %>
    </div>
    <div class="form-group">
      <%= f.label :last_name, class:"control-label", for:"inputLastName" %>
      <%= f.text_field :last_name, validate: true, class: "form-control", type: "text", pattern: "^[A-Za-z ]+$", required: "required", id:"inputLastName", placeholder: "Last Name goes here..." %>
    </div>

    <h5>Role:</h5>
    <%= f.radio_button :role, 'owner', :checked => true%>
    <%= label :role, 'owner' %>
    <br>
    <%= f.radio_button :role, 'manager' %>
    <%= label :role, 'manager' %>
    <br>
    <%= f.radio_button :role, 'employee' %>
    <%= label :role, 'employee' %>
  </div>
<div class="row">
  <hr>
  <div class="actions col-md-6 pull-right">
    <%= f.submit "Create User", class: "btn btn-primary btn-md btn-block" %>
  </div>
</div>
</div>
<% end %>
