<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<%= form_for @user, url: {action: 'create'} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.label :role %>
  <%= f.radio_button :role, 'owner', :checked => true %>
  <%= label :role, 'owner' %>
  <%= f.radio_button :role, 'manager' %>
  <%= label :role, 'manager' %>
  <%= f.radio_button :role, 'employee' %>
  <%= label :role, 'employee' %>

  <div class="actions">
    <%= f.submit 'Create User' %>
  </div>
<% end %>
