<h1 class="text-capitalize"><%= "#{@employee.last_name}, #{@employee.first_name}" %></h1>

<div class="pull-right">
  <% if can? :edit, @user %>
  <%= link_to edit_user_path(@user) do %>
  <button class='btn btn-primary btn-sm' role='button'>
    <i class='glyphicon glyphicon-edit'></i>
    Edit Profile
  </button>
  <% end %>
  <% end %>

  <% if can? :change_password, @user %>
  <%= link_to change_password_path(@user) do %>
  <button class='btn btn-warning btn-sm' role='button'>
    <i class='glyphicon glyphicon-remove'></i>
    Change Password
  </button>
  <% end %>
  <% end %>
</div>
<hr>

<h3><%= @employee.email %></h3>
<hr>

<h2>Clients</h2>
<hr>

<div>
  <table class="table table-hover table-striped" id="clientdatatable">
    <thead>
      <tr>
        <th>Company Name</th>
        <th>Owner</th>
        <th>No. Of Transactions</th>
        <th>Status</th>
        <th style="width: 30px"></th>
      </tr>
    </thead>
    <tbody>
      <% @clients.each do |client| %>
      <tr>
        <td class="text-capitalize">
          <%= client.company_name %>
        </td>
        <td class="text-capitalize">
          <%= client.owner %>
        </td>
        <td>
            <%= client.transaction_count %>
        </td>
        <td>
          <%= client.status %>
        </td>
        <td>
          <%= link_to show_through_employee_path(@employee.id, client.id) do %>
          <button class='btn btn-info btn-sm' role='button'>
            <i class='glyphicon glyphicon-edit'></i>
            View Profile
          </button>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
