<h5>Your are currently viewing the profile of
  <%= @employee.email %></h5>

<strong>
  <h3 class="text-capitalize"><%= "#{@employee.last_name}, #{@employee.first_name}" %></h3>
</strong>
<hr>

<% @clients.each do |client| %>

<h4 class="text-capitalize"><%= "#{client.company_name}" %></h4>
<!--<div class="pull-right">-->
<!--
    <% if can? :show_employee, client %>-->
<!--<%= link_to raw("<button class='btn btn-info btn-sm'  role='button'><i class='glyphicon glyphicon-briefcase'></i> Details </button>"), show_employee_path(client) %>-->
<!--
    <% end %>-->
<!--
    <% if can? :edit, client %>-->
<!--<%= link_to raw("<button class='btn btn-info btn-sm'  role='button'><i class='glyphicon glyphicon-edit'></i> Edit Profile</button>"), edit_user_path(client) %>-->
<!--
    <% end %>-->
<!--
    <% if can? :destroy, client %>-->
<!--<%= link_to raw("<button class='btn btn-danger btn-sm'  role='button'><i class='glyphicon glyphicon-trash'></i> Delete</button>"), client, method: :delete, data: {confirm: 'Are you sure?'} %>-->
<!--
    <% end %>-->
<!--
    <% if can? :change_password, client %>-->
<!--<%= link_to raw("<button class='btn btn-warning btn-sm'  role='button'><i class='glyphicon glyphicon-remove'></i> Change Password</button>"), change_password_path(client) %>-->
<!--
    <% end %>-->
<!--</div>-->
<p>
  Owner:
  <%= client.owner %>
</p>
<p>
  Representative:
  <%= client.representative %>
</p>
Status:
<p>
  <%= client.status %>
</p>
<div class="pull-right">
  <%= link_to client_path(client.id) do %>
  <button class='btn btn-info btn-sm' role='button'>
    <i class='glyphicon glyphicon-edit'></i>
    Client Profile
  </button>
  <% end %>
</div>
<br>
<hr>
<% end %>
