<h5>Your are currently viewing the profile of <%= @employee.email %></h5>

<strong><h3 class="text-capitalize"><%= "#{@employee.last_name}, #{@employee.first_name}" %></h3></strong>
<hr>

<% @clients.each do |user| %>

    <h4 class="text-capitalize"><%= "#{user.company_name}" %></h4>
    <!--<div class="pull-right">-->
    <!--
    <% if can? :show_employee, user %>-->
        <!--<%= link_to raw("<button class='btn btn-info btn-sm'  role='button'><i class='glyphicon glyphicon-edit'></i> Details </button>"), show_employee_path(user) %>-->
        <!--
    <% end %>-->
    <!--
    <% if can? :edit, user %>-->
        <!--<%= link_to raw("<button class='btn btn-info btn-sm'  role='button'><i class='glyphicon glyphicon-edit'></i> Edit Profile</button>"), edit_user_path(user) %>-->
        <!--
    <% end %>-->
    <!--
    <% if can? :destroy, user %>-->
        <!--<%= link_to raw("<button class='btn btn-danger btn-sm'  role='button'><i class='glyphicon glyphicon-remove'></i> Delete</button>"), user, method: :delete, data: {confirm: 'Are you sure?'} %>-->
        <!--
    <% end %>-->
    <!--
    <% if can? :change_password, user %>-->
        <!--<%= link_to raw("<button class='btn btn-warning btn-sm'  role='button'><i class='glyphicon glyphicon-remove'></i> Change Password</button>"), change_password_path(user) %>-->
        <!--
    <% end %>-->
    <!--</div>-->
    <p>
      Owner: <%= user.owner %>
    </p>
    <p>
      Representative: <%= user.representative %>
    </p>
    Status:
    <p>
      <%= user.status %>
    </p>
    <hr>
<% end %>

<div class="pull-right">
  <% if can? :new, @employee %>
      <%= link_to raw("<button class='btn btn-info btn-sm'  role='button'><i class='glyphicon glyphicon-edit'></i> ADD CLIENT </button>"), new_client_path %>
  <% end %>
</div>
