<nav class="navbar navbar-default navbar-static-top navbar-offset">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"> <i class="glyphicon glyphicon-thumbs-up"></i> I-MGT-TAFC</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <!-- add functionalies that can be done by user here-->
        <div id="user_nav">

        </div>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
            <!-- add view profile here -->
            <li class="navbar-brand" href="#"><%= current_user ? "Logged in as #{current_user.username}" : "" %></li>


            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class='glyphicon glyphicon-cog'></i> Settings <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to raw("<i class='glyphicon glyphicon-edit'></i> Edit Profile"), edit_user_path(current_user) %></li>
                <li><%= link_to raw("<i class='glyphicon glyphicon-lock'></i> Change Password</button>"), change_password_path(current_user)%></li>
              </ul>
            </li>
            <li><%= link_to raw("<i class='glyphicon glyphicon-log-out'></i> Log-out"), logout_path %></li>
        <% else %>
            <li><%= link_to raw("<i class='glyphicon glyphicon-pencil'></i> Register"), new_user_path %></li>
            <li><%= link_to raw("<i class='glyphicon glyphicon-log-in'></i> Log-in"), login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
