<nav class="navbar
  <% if can? :manage, :all %>
      navbar-inverse
  <% else %>
      navbar-default
  <% end %>
   navbar-fixed-top" role="navigation">

  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse" type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home">
        <i class="custom-imgt_logo"></i>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <!-- gretel goes here -->
      <ul class="nav navbar-nav">
        <li>
          <ol class="breadcrumb">
            <%= render_breadcrumbs :tag => :li, :separator => "" %>
          </ol>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
        <li class="dropdown">
          <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" id="user-dropdown" role="button">
            <%= current_user ? "Logged in as #{current_user.email}" : "" %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to edit_user_path(current_user) do %>
              <i class='glyphicon glyphicon-edit'></i>
              Edit Profile
              <% end %>
            </li>
            <li>
              <%= link_to change_password_path(current_user) do %>
              <i class='glyphicon glyphicon-lock'></i>
              Change Password
              <% end %>
            </li>
            <li>
              <%= link_to logout_path do %>
              <i class='glyphicon glyphicon-log-out'></i>
              Log-out
              <% end %>
            </li>
          </ul>
        </li>
        <% else %>
        <li>
          <%= link_to login_path do %>
          <i class='glyphicon glyphicon-log-in'></i>
          Log-in
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
