<div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">

  <div id="SideMenu">
    <%= side_bar do %>

    <li id="homenav">
      <%= link_to home_path do %>
        <i class='glyphicon glyphicon-home'></i> Home
      <% end %>
    </li>

    <li id="employeesnav">
      <%= link_to employees_path do %>
        <i class='glyphicon glyphicon-user'></i> Employees
      <% end %>
    </li>
    <div class="sublinks collapse" id="employees">
      <%= side_child_link raw("<i class='glyphicon glyphicon-chevron-right'></i> Index"), employees_path  %>
      <%= side_child_link raw("<i class='glyphicon glyphicon-chevron-right'></i> Add"), new_user_path %>
    </div>

    <li id="clientsnav">
      <%= link_to clients_path do %>
        <i class='glyphicon glyphicon-briefcase'></i> Clients
      <% end %>
    </li>

    <div class="sublinks collapse" id="clients">
      <%= side_child_link raw("<i class='glyphicon glyphicon-chevron-right'></i> Index"), clients_path %>
      <%= side_child_link raw("<i class='glyphicon glyphicon-chevron-right'></i> Add"), new_client_path %>
    </div>

    <li id="transactionsnav">
      <%= link_to transactions_path do %>
        <i class='glyphicon glyphicon-briefcase'></i> Transactions
      <% end %>
    </li>

    <div class="sublinks collapse" id="transactions">
      <%= side_child_link raw("<i class='glyphicon glyphicon-chevron-right'></i> Index"), transactions_path %>
    </div>

    <li id="servicesnav">
      <%= link_to services_path do %>
        <i class='glyphicon glyphicon-list-alt'></i> Services
      <% end %>
    </li>

    <div class="sublinks collapse" id="services">
      <%= side_child_link raw("<i class='glyphicon glyphicon-chevron-right'></i> Index"), services_path %>
      <%= side_child_link raw("<i class='glyphicon glyphicon-chevron-right'></i> Add"), new_service_path %>
    </div>

    <li id="reportsnav">
      <%= link_to reports_path do %>
        <i class='glyphicon glyphicon-list-alt'></i> Reports
      <% end %>
    </li>
    <div class="sublinks collapse" id="reports">
      <%= side_child_link raw("<i class='glyphicon glyphicon-chevron-right'></i> Accounts Receivable"), reports_accounts_receivable_path %>
      <%= side_child_link raw("<i class='glyphicon glyphicon-chevron-right'></i> Employees"), reports_employees_report_path %>
      <%= side_child_link raw("<i class='glyphicon glyphicon-chevron-right'></i> Transactions"), reports_transactions_report_path %>
    </div>

    <% end %>
  </div>


</div>
