<div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">

  <div id="SideMenu">
    <%= side_bar do %>
    <%= side_link raw("<i class='glyphicon glyphicon-home'></i> Home"), home_path %>
    <a class="list-group-item" data-parent="#SideMenu" data-target="#employees" data-toggle="collapse" href="#">
      <i class='glyphicon glyphicon-user'></i>
      Employees
    </a>
    <div class="sublinks collapse" id="employees">
      <%= side_child_link raw("<i class='glyphicon glyphicon-chevron-right'></i> Index"), employees_path  %>
      <%= side_child_link raw("<i class='glyphicon glyphicon-chevron-right'></i> Add"), new_user_path %>
    </div>
    <a class="list-group-item" data-parent="#SideMenu" data-target="#clients" data-toggle="collapse" href="#" id="clientscollapse">
      <i class='glyphicon glyphicon-briefcase'></i>
      Clients
    </a>
    <div class="sublinks collapse" id="clients">
      <%= side_child_link raw("<i class='glyphicon glyphicon-chevron-right'></i> Index"), clients_path %>
      <%= side_child_link raw("<i class='glyphicon glyphicon-chevron-right'></i> Add"), new_client_path %>
    </div>
    <a class="list-group-item" data-parent="#SideMenu" data-target="#transactions" data-toggle="collapse" href="#">
      <i class='glyphicon glyphicon-briefcase'></i>
      Transactions
    </a>
    <div class="sublinks collapse" id="transactions">
      <%= side_child_link raw("<i class='glyphicon glyphicon-chevron-right'></i> Index"), transactions_path %>
    </div>
    <a class="list-group-item" data-parent="#SideMenu" data-target="#services" data-toggle="collapse" href="#">
      <i class='glyphicon glyphicon-list-alt'></i>
      Services
    </a>
    <div class="sublinks collapse" id="services">
      <%= side_child_link raw("<i class='glyphicon glyphicon-chevron-right'></i> Index"), services_path %>
      <%= side_child_link raw("<i class='glyphicon glyphicon-chevron-right'></i> Add"), new_service_path %>
    </div>

    <a class="list-group-item" data-parent="#SideMenu" data-target="#reports" data-toggle="collapse" href="#">
      <i class='glyphicon glyphicon-list-alt'></i>
      Reports
    </a>
    <div class="sublinks collapse" id="reports">
      <%= side_child_link raw("<i class='glyphicon glyphicon-chevron-right'></i> Accounts Receivable"), accounts_receivable_path %>
      <%= side_child_link raw("<i class='glyphicon glyphicon-user'></i> Employees"), employees_report_path %>
    </div>

    <% end %>
  </div>


</div>
