<div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">

  <div id="menu">
    <%= side_bar do %>
    <%= side_link raw("<i class='glyphicon glyphicon-home'></i> Home"), home_path %>
    <a class="list-group-item" data-parent="#menu" data-target="#employees" data-toggle="collapse" href="#">
      <i class='glyphicon glyphicon-user'></i>
      Employees
    </a>
    <div class="sublinks collapse" id="employees">
      <%= side_child_link raw("<i class='glyphicon glyphicon-home'></i> Index"), employees_path  %>
      <%= side_child_link raw("<i class='glyphicon glyphicon-home'></i> Add"), new_user_path %>
    </div>
    <a class="list-group-item" data-parent="#menu" data-target="#clients" data-toggle="collapse" href="#" id="clientscollapse">
      <i class='glyphicon glyphicon-briefcase'></i>
      Clients
    </a>
    <div class="sublinks collapse" id="clients">
      <%= side_child_link raw("<i class='glyphicon glyphicon-home'></i> Index"), clients_path %>
      <%= side_child_link raw("<i class='glyphicon glyphicon-home'></i> Add"), new_client_path %>
    </div>
    <a class="list-group-item" data-parent="#menu" data-target="#transactions" data-toggle="collapse" href="#">
      <i class='glyphicon glyphicon-briefcase'></i>
      Transactions
    </a>
    <div class="sublinks collapse" id="transactions"></div>
    <a class="list-group-item" data-parent="#menu" data-target="#services" data-toggle="collapse" href="#">
      <i class='glyphicon glyphicon-briefcase'></i>
      Services
    </a>
    <div class="sublinks collapse" id="services">
      <%= side_child_link raw("<i class='glyphicon glyphicon-home'></i> Index"), services_path %>
      <%= side_child_link raw("<i class='glyphicon glyphicon-home'></i> Add"), new_service_path %>
    </div>
    <% end %>
  </div>

</div>
