<%= form_for form_model, url: {action: action} do |f| %>
    <div class="row">
  <div class="col-sm-5 col-md-8" id="panel">
  <% if form_model.errors.any? %>
    <%= render partial: "shared/error_messages", locals: {form_model: form_model} %>
  <% end %>



  <div class="form-group">
    <%= f.label :company_name, class:"control-label", for:"inputCompanyName" %>
    <%= f.text_field :company_name, class: "form-control", required: "required", id:"inputCompanyName", placeholder: "Insert Company Name here..." %>
  </div>

  <div class="form-group">
    <%= f.label :owner, class:"control-label", for:"inputOwner" %>
    <%= f.text_field :owner, class: "form-control", required: "required", id:"inputOwner", placeholder: "Insert Owner of Company here..." %>
  </div>

  <div class="form-group">
    <%= f.label :representative, class:"control-label", for:"inputRepresentative" %>
    <%= f.text_field :representative, class: "form-control", required: "required", id:"inputRepresentative", placeholder: "Insert Representative of Company here..."  %>
  </div>

  <div class="form-group">
    <%= f.label :address, class:"control-label", for:"inputAddress" %>
    <%= f.text_field :address,  class: "form-control", size:"150", required: "required", id:"inputAddress"%>

  </div>

  <div class="form-group">
    <%= f.label :tel_num, class:"control-label", for:"inputTelNum" %>
    <%= f.text_field :tel_num, class: "form-control", required: "required", id:"inputTelNum", placeholder: "Insert Telephone Number of Company here..." %>
  </div>

  <div class="form-group">
    <%= f.label :email, class:"control-label", for:"inputClientEmail" %>
    <%= f.text_field :email, class: "form-control", required: "required", id:"inputClientEmail", placeholder: "Insert Email of Company here..." %>
  </div>

  <div class="form-group">
    <%= f.label :tin_num, class:"control-label", for:"inputTinNum" %>
    <%= f.text_field :tin_num, class: "form-control", required: "required", id:"inputTinNum", placeholder: "Insert Tin Number of Company here..." %>
  </div>

  <h5>Status:</h5>
    <%= f.radio_button :status, 'Active', :checked => true, class: "radio-inline" %>
    <%= label :role, 'active' %>
      <br>
    <%= f.radio_button :status, 'Inactive', class: "radio-inline" %>
    <%= label :role, 'inactive' %>
<br>
  <div class="form-group">
    <% if @withparams %>
      <%= f.hidden_field :user_id, class: "form-control"%>
    <% else %>
        <%= f.label :user_id, 'Assigned to: ', class:"control-label", for:"inputEmployee" %>
        <%= f.select :user_id, @employees.collect {|employee| ["#{employee.last_name}, #{employee.first_name}", employee.id]}, {},  { class: 'form-control', disabled: @withparams } %>
    <% end %>
  </div>
</div>
  <div class="row">
    <hr>
  <div class="actions col-md-6 pull-right">
    <%= f.submit action.capitalize + " Client", class: "btn btn-primary btn-md btn-block" %>
  </div>
</div>
</div>
<% end %>
