<h1> Clients</h1>
<hr>

<table id="clientdatatable" class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Company Name</th>
      <th>Employee In-charge</th>
      <th>Status</th>
      <th style="width: 30px">
      </th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
    <tr>
      <td class="text-capitalize">
        <%= "#{client.company_name}" %>
      </td>
      <td>
        <% if client.user %>
          <%= client.user_email %>
        <% else  %>
          <span>Not assigned</span>
        <% end %>
      </td>
      <td>
        <%= client.status %>
      </td>
      <td>
        <div class="dropdown">
          <button aria-expanded="false" aria-haspopup="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
            Options
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li class="text-primary">
                <%= link_to new_client_transaction_path(client) do %>
                <i class='glyphicon glyphicon-plus text-primary'></i> New Transaction
                <% end %>
            </li>
            <li class="text-info">
                <%= link_to client_path(client) do %>
                <i class='glyphicon glyphicon-briefcase text-info'></i> Details
                <% end %>
            </li>
            <li class="text-info">
                <%= link_to edit_client_path(client) do %>
                <i class='glyphicon glyphicon-edit text-info'></i> Edit Profile
                <% end %>
            </li>
            <li class="text-danger">
              <% if can? :destroy, client %>
              <%= link_to client, method: :delete, data: {confirm: 'Are you sure?'} do %>
              <i class='glyphicon glyphicon-trash text-danger'></i>
              Delete
              <% end %>
              <% end %>
            </li>
          </ul>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
