<h1>Clients#index</h1>
<p>Find me in app/views/clients/index.html.erb</p>

<% @clients.each do |client| %>

    <h3 class="text-capitalize"><%= "#{client.company_name}" %></h3>
    <div class="pull-right">
      <%= link_to raw("<button class='btn btn-info btn-sm'  role='button'><i class='glyphicon glyphicon-edit'></i> Edit Client</button>"), edit_client_path(client) %>
      <%= link_to raw("<button class='btn btn-danger btn-sm'  role='button'><i class='glyphicon glyphicon-remove'></i> Destroy</button>"), client, method: :delete, data: {confirm: 'Are you sure?'} %>
    </div>
    <p>
      Owner: <%= client.owner %>
    </p>
    Status:
    <p class="<%= client.status %>text">
      <%= client.status %>
    </p>
    <hr>
<% end %>