<h5>You are currently viewing the profile of <%= @client.company_name %></h5>

<strong><h3 class="text-capitalize"><%= "#{@client.company_name}" %></h3></strong>
<hr>

<div class="pull-right">
  <%= link_to logout_path do %>
    <button class='btn btn-info btn-sm' role='button'>
      <i class='glyphicon glyphicon-list-alt'></i> Show Report
    </button>
  <% end %>
  <%= link_to new_transaction_path(@client.id) do %>
   <button class='btn btn-info btn-sm' role='button'>
     <i class='glyphicon glyphicon-briefcase'></i> Add Transaction
   </button>
  <% end %>
</div>


<div>
  <table id="clientdatatable" class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Billing Number</th>
        <th>Total Amount</th>
        <th>Status</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <% @transactions.each do |transaction| %>
      <tr>
        <td class="text-capitalize">
          # <%= "#{transaction.billing_num}" %>
        </td>
        <td>
          P<%= transaction.total_balance %>
        </td>
        <td>
          <% if transaction.pending? %>
            <button type="button" class="btn btn-danger">Pending</button>
          <% else %>
            <button type="button" class="btn btn-success">Paid</button>
          <% end %>
        </td>
        <td>
          <div class="dropdown">
            <button aria-expanded="false" aria-haspopup="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
              Options
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li class="text-info">
                  <%= link_to transaction_path(transaction.client_id, transaction.id) do %>
                  <i class='glyphicon glyphicon-briefcase text-info'></i> Details
                  <% end %>
              </li>
            </ul>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
