<%= form_for form_model, url: a, builder: Judge::FormBuilder do |f|  %>
  <div class="modal-body">

    <!-- form for payments -->

    <div class="form-group">
      <%= f.label :receipt_no, class:"control-label", for:"inputReceiptNumber" %>
      <%= f.text_field :receipt_no, class: "form-control", required: "required", id:"inputReceiptNumber", placeholder: "Insert Receipt number here..." %>
    </div>
    <div aria-label="..." class="btn-group pull-right" role="group">
      <button class="btn btn-default" onclick="payQuarter()" type="button">25%</button>
      <button class="btn btn-default" onclick="payHalf()" type="button">50%</button>
      <button class="btn btn-default" onclick="payFull()" type="button">Full</button>
    </div>
    <div class="form-group">
      <%= f.label :amount_paid, class:"control-label", for:"inputAmountPaid" %>
      <%= f.text_field :amount_paid, class: "form-control", required: "required", id:"inputAmountPaid", placeholder: "Insert Amount here..." %>
    </div>

    <div class="form-group">
      <%= f.label :note, class:"control-label", for:"inputNote" %>
      <%= f.text_field :note, class: "form-control", required: "required", id:"inputNote", placeholder: "Insert Note for payment here..." %>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>
    <div class="actions col-md-6 pull-right">
      <%= f.submit "Submit", class: "btn btn-primary btn-md btn-block" %>
    </div>
  </div>
<% end %>
