<h1>Transactions#show</h1>
<p>Find me in app/views/transactions/show.html.erb</p>

<div class="row">
  <div class="col-md-10">
        <h3><em>Transaction Details</em></h3>
        <h3>Billing No: # <%= @transaction.billing_num %></h3>
        <div>
            <% @transaction.get_fees.each do |name, value| %>
              <h6><%= name %>: Php <%= number_with_precision(value || 0, :precision => 2, :delimiter => ',') %><h6>

            <% end %>

            <strong><h3>Total: Php <%= number_with_precision(@transaction.total_balance, :precision => 2, :delimiter => ',') %><h3></strong>
            <strong><h6>Remaining Balance: Php <%= number_with_precision(@transaction.remaining_balance, :precision => 2, :delimiter => ',') %></h6></strong>
        </div>
  </div>
</div>

<div>
  <h1>Payment Log</h1>
  <div class="pull-right">
    <%= link_to new_provisional_receipts_path(@transaction.client.id, @transaction.id) do %>
     <button class='btn btn-info btn-sm' role='button'>
       <i class='glyphicon glyphicon-briefcase'></i> Pay
     </button>
    <% end %>
  </div>
  <table id="transactions-datatable" class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Receipt No.</th>
        <th>Note</th>
        <th>Amount Paid</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <% @payments.each do |payment| %>
      <tr>
        <td class="text-capitalize">
          # <%= "#{payment.receipt_no}" %>
        </td>
        <td>
          <em><%= payment.note %></em>
        </td>
        <td>
          Php <%= number_with_precision(payment.amount_paid, :precision => 2, :delimiter => ',') %>
        </td>
        <td>
          <div class="dropdown">
            <button aria-expanded="false" aria-haspopup="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
              Options
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li class="text-info">
                  <%= link_to edit_provisional_receipts_path(@client.id, @transaction.id, payment.id) do %>
                  <i class='glyphicon glyphicon-briefcase text-info'></i> Edit Payment
                  <% end %>
              </li>
              <li class="text-danger">
                <% if can? :destroy, payment %>
                <%= link_to payment, method: :delete, data: {confirm: 'Are you sure?'} do %>
                <i class='glyphicon glyphicon-trash text-danger'></i>
                Delete
                <% end %>
                <% end %>
              </li>
            </ul>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
