
    <h1>
      Transaction Details
    </h1>
    <hr>
    <table class="table table-hover table-striped" >
      <thead>
        <tr>
          <th>Name </th>
          <th>Price </th>
        </tr>
      </thead>
      <tbody>

        <% @transaction.get_fees.each do |name, value| %>
        <tr>
          <td><%= name %></td>
          <td>
            Php <%= value || 0 %>
          </td>

        </tr>
        <% end %>

        <tr>
          <td>
            <p class="pull-right">Total:</p>
          </td>
          <td>
            Php
                <%= @transaction.total_balance%>
          </td>

        </tr>
        <tr>
          <td>
            <p class="pull-right">  Remaining Balance:</p>
          </td>
          <td>
              Php
              <%= @transaction.remaining_balance %>
          </td>

        </tr>
    </table>

      <input type="button" data-target="#myModal" data-toggle="modal" id="paymentFormButton" type="button">
    </input>
  <br>
  <hr>

  <h1>Payment Log</h1>

  <table class="table table-hover table-striped" id="transactions-datatable">
    <thead>
      <tr>
        <th>Receipt No.</th>
        <th>Note</th>
        <th>Amount Paid</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <% @payments.each do |payment| %>
      <tr>
        <td class="text-capitalize">
          #
          <%= "#{payment.receipt_no}" %>
        </td>
        <td class="notes">
          <em><%= payment.note %></em>
        </td>
        <td>
          Php <%= number_with_precision(payment.amount_paid, :precision => 2, :delimiter => ',') %>
        </td>
        <td>
          <div class="dropdown">
            <button aria-expanded="false" aria-haspopup="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
              Options
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li class="text-info">
                  <%= link_to edit_provisional_receipts_path(@client.id, @transaction.id, payment.id) do %>
                  <i class='glyphicon glyphicon-briefcase text-info'></i> Edit Payment
                  <% end %>
              </li>
              <li class="text-danger">
                <% if can? :destroy, payment %>
                <%= link_to payment, method: :delete, data: {confirm: 'Are you sure?'} do %>
                <i class='glyphicon glyphicon-trash text-danger'></i>
                Delete
                <% end %>
                <% end %>
              </li>
            </ul>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <!-- Modal -->
  <div aria-labelledby="myModalLabel" class="modal fade" id="myModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
          <h3 class="modal-title" id="myModalLabel">Payment Form</h3>
          <hr>
          <div class="row">
            <div class="col-md-4">
              <h5>Billing Number:</h5>
            </div>
            <div class="col-md-8">
              <h5 class="pull-right">
                #<%= @transaction.billing_num%></h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h5>Total:</h5>
            </div>
            <div class="col-md-8">
              <h5 class="pull-right">
                Php
                <%= @transaction.total_balance%></h5>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <h5>Remaining Balance:</h5>
            </div>
            <div class="col-md-8">
              <h5 class="pull-right">
                Php
                <%= @transaction.remaining_balance %></h5>
            </div>
          </div>
        </div>
        <div class="modal-body">

          <!-- form for payments -->
          <%= form_for @provisional_receipt do |f| %>

          <div class="form-group">
            <%= f.label :receipt_no, class:"control-label", for:"inputReceiptNumber" %>
            <%= f.text_field :receipt_no, class: "form-control", required: "required", id:"inputReceiptNumber", placeholder: "Insert Receipt number here..." %>
          </div>
          <div aria-label="..." class="btn-group pull-right" role="group">
            <button class="btn btn-default" onclick="payQuarter()" type="button">25%</button>
            <button class="btn btn-default" onclick="payHalf()" type="button">50%</button>
            <button class="btn btn-default" onclick="payFull()" type="button">Full</button>
          </div>
          <div class="form-group">
            <%= f.label :amount_paid, class:"control-label", for:"inputAmountPaid" %>
            <%= f.text_field :amount_paid, class: "form-control", required: "required", id:"inputAmountPaid", placeholder: "Insert Amount here..." %>
          </div>

          <div class="form-group">
            <%= f.label :note, class:"control-label", for:"inputNote" %>
            <%= f.text_field :note, class: "form-control", required: "required", id:"inputNote", placeholder: "Insert Note for payment here..." %>
          </div>

          <%= f.hidden_field :transaction_id, class: "form-control",value: @transaction.id %>

        </div>
        <div class="modal-footer">
          <button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>
          <div class="actions col-md-6 pull-right">
            <%= f.submit "Submit", class: "btn btn-primary btn-md btn-block" %>
          </div>
          <% end %>
        </div>

        <!-- end form for payments -->
      </div>

    </div>
  </div>

<script>
window.onload = disableButton();
function disableButton() {
        if (<%= @transaction.pending? %> == true) {
          document.getElementById("paymentFormButton").value="Add Payment";
          document.getElementById("paymentFormButton").disabled = false;
          document.getElementById("paymentFormButton").setAttribute("class", "pull-right btn btn-lg btn-primary");
        } else if (<%= @transaction.pending? %>  == false) {
          document.getElementById("paymentFormButton").value="Fully Paid";
          document.getElementById("paymentFormButton").disabled = true;
          document.getElementById("paymentFormButton").setAttribute("class", "pull-right btn btn-lg btn-success");
        }
      }
  function payQuarter() {
    document.getElementById("inputAmountPaid").focus();
    document.getElementById("inputAmountPaid").value = <%= @transaction.remaining_balance %> / 4;
  }

  function payHalf() {
    document.getElementById("inputAmountPaid").focus();
    document.getElementById("inputAmountPaid").value = <%= @transaction.remaining_balance %> / 2;
  }

  function payFull() {
    document.getElementById("inputAmountPaid").focus();
    document.getElementById("inputAmountPaid").value = <%= @transaction.remaining_balance %>;
  }

</script>
