<%= form_for @user_session, url: {action: 'create'} do |form| %>
  <% if @user_session.errors.any? %>
    <%= render "shared/error_messages", locals: {form_model: @user_session}
  <% end %>

  <div class="col-md-2">
  </div>

  <div class="col-md-8">
    <div class="form-group">
      <%= form.label :email, "email" %>
      <%= form.text_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :password, "Password" %>
      <%= form.password_field :password, class: "form-control" %>
    </div>

    <div>
      <%= form.submit "Log in", class: "btn btn-primary btn-lg pull-right btn-block" %>
    </div>
  </div>

  <div class="col-md-2">
  </div>
<% end %>
