<h1 class="text-capitalize">  Accounts Receivable Reports </h1>
<hr>
<% if @start && @end %>
  <h6>Showing AR Reports from <em><%= @start.strftime("%d %b. %Y") %></em> to <em><%= @end.strftime("%d %b. %Y") %></em>. </h6>
<% end %>

  <div class="row" id="sandbox-container">
    <%= form_tag reports_accounts_receivable_path, :method => 'get' do %>
      <div class="col-md-6 input-daterange input-group" id="datepicker">
        <div class="form-group">
          <%= text_field_tag :start, params[:start], class: "input-sm form-control" %>
          <%= text_field_tag :end, params[:end], class: "input-sm form-control" %>
        </div>
      </div>
      <%= submit_tag "Filter", :name => nil %>
    <% end %>
    <div class="col-md-6">
    </div>
  </div>




<table id="reports-datatable" class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Billing Number</th>
      <th>Client</th>
      <th>Receivable Amount</th>
      <th>Date Created</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td>
          #<%= transaction.billing_num %>
        </td>
        <td>
          <% if transaction.client %>
            <%= transaction.client.company_name %>
          <% else %>
            <span>Deleted Client</span>
          <% end %>
        </td>
        <td>
          Php <%= number_with_precision(transaction.remaining_balance, :precision => 2, :delimiter => ',') %>
        </td>
        <td>
          <%= transaction.created_at.strftime("%d %b. %Y") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
