<h1 class="text-capitalize">  Transactions Reports </h1>
<hr>
<% if @start && @end %>
  <h6>Showing Transaction Report from <em><%= @start.strftime("%d %b. %Y") %></em> to <em><%= @end.strftime("%d %b. %Y") %></em>. </h6>
<% end %>

<div class="row" id="sandbox-container">
  <%= form_tag reports_transactions_report_path, :method => 'get' do %>
    <div class="col-md-6 input-daterange input-group" id="datepicker">
      <div class="form-group">
        <%= text_field_tag :start, params[:start], class: "input-sm form-control" %>
        <%= text_field_tag :end, params[:end], class: "input-sm form-control" %>
      </div>
    </div>
    <%= submit_tag "Filter", :name => nil %>
  <% end %>
  <div class="col-md-6">
  </div>
</div>

<table id="reports-datatable" class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Billing #</th>
      <th>Client</th>
      <th>Employee</th>
      <th>Total Balance</th>
      <th>Remaining Balance</th>
      <th>Payments</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td>
          #<%= transaction.billing_num %>
        </td>
        <td>
          <%= transaction.client.company_name %>
        </td>
        <td>
          <%= transaction.employee %>
        </td>
        <td>
          Php <%= number_with_precision(transaction.total_balance, :precision => 2, :delimiter => ',') %>
        </td>
        <td>
          Php <%= number_with_precision(transaction.remaining_balance, :precision => 2, :delimiter => ',') %>
        </td>
        <td>
          <% transaction.provisional_receipts.each do |payment| %>
            <ul>
              <% if transaction.pending? %>
                <li style="color:red">
                  Php <%= number_with_precision(payment.amount_paid, :precision => 2, :delimiter => ',') %> - <em><%= payment.created_at.strftime("%d %b. %Y") %></em>
                </li>
              <% else %>
                <li style="color:green">
                  Php <%= number_with_precision(payment.amount_paid, :precision => 2, :delimiter => ',') %> - <em><%= payment.created_at.strftime("%d %b. %Y") %></em>
                </li>
              <% end %>
            </ul>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
