<!DOCTYPE html>
<html>
<head>
  <title>SoftdevIMgtTafc</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "shared/navbar" %>

<div class="container">

  <%= yield :content %>

</div>

<footer class="footer">
  <div class="container">
    <hr class="alert-info">
    <p class="pull-right"><a href="#" class="text-muted"><span class="glyphicon glyphicon-chevron-up"
                                                               aria-hidden="true"></span> Back to top</a></p>
  </div>
</footer>

</body>
</html>
